.bg-primary{
    background-color:#7d2ae8 ;
}
.btn-primary{
    background-color:#7d2ae8 ;
}
.bg-home{
    background: rgb(212,241,244);
    background: linear-gradient(90deg, rgba(212,241,244,1) 0%, rgba(128,235,223,1) 47%, rgba(212,241,244,1) 100%);
}
.bg-card{
    background: rgb(65,137,147);
    background: linear-gradient(297deg, rgba(65,137,147,1) 0%, rgba(57,68,116,1) 100%);
}